@{
    ViewData["Title"] = "Index";
}
@model List<PersonalDto>
<div class="portlet box blue-chambray">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Personeller
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
            <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content">
                <tr>
                    <th></th>
                    <th> Kayıt Numarası </th>
                    <th> Adı</th>
                    <th> Soyadı </th>
                    <th> E-Mail </th>
                    <th> Telefon Numarası </th>
                    <th> Pozisyonu </th>
                    <th> Açıklama </th>
                    <th> Ünvanı </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="btn btn-warning" asp-controller="Personals" asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                            <a class="btn btn-danger" asp-controller="Personals" asp-action="Remove" asp-route-id="@item.Id">Sil</a>
                        </td>
                        <td>@item.RegistrationNumber</td>
                        <td>@item.Name</td>
                        <td>@item.SurName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Position</td>
                        <td>@item.Description</td>
                        <td>@item.Title</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
